* {
    font-family: Arial;
}

#divGlobal{
    display: flex;
    flex-direction: column;
    width: 100%;
}

body{
    margin: 0px;
}

header{
    display: flex;
    background-color: gainsboro;
    border-bottom: black 2px solid;
    padding: 10px;
    
    flex-basis: 100%;
}

#imgHome{
    height: 50px;
    width: auto;
}


#divGeneral{
    display: flex;
    align-items: center;
    background-image: linear-gradient(#3c6fba, #16ccdd);
    background-attachment: fixed;
    height: 100vh;

    /*Límite de reducción.*/
    /*min-width: 350px;*/
}




#divPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 8;
}


.lbTitulo {
    font-size: 50px;

    font-weight: bold;
    color: white;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.lbOpcion {
    font-size: 30px;
    font-weight: bold;
}

#divPuntuacion, #divImg, #divFormulario, #divRespuesta {
    margin: 10px;
}

#divImg{
    display: flex;
    justify-content: center;
}

img {
    height: auto;
    width: 70%;
    border-radius: 20px;

    box-shadow: 0 0 0 2pt black;
}



input[type=checkbox] {
    height: 20px;
    width: 20px;
}



#divFormulario {
    order: -1;
    flex: 1;
    border-radius: 20px;
    box-shadow: 0 0 0 2pt black;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#divOpciones{
    margin: 5px;
    
    display: flex;
    flex-direction: column;
}

.opcion {

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#divFormButton{
    padding: 10px;
    width: 100%;
    flex: 2;
    display: flex;
    justify-content: center;
}

#btAplicar {
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    outline-style: none;

    width: 80%;
    height: 100%;
}

#btFormulario{
height: 100%;
width: 100%;
}

#divRespuesta{
    height: 40px;
    width: 90%;
    max-width: 500px;

    display: flex;
    justify-content: center;

    margin-bottom: 40px;
}

#txRespuesta{
    height: auto;
    width: 50%;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}


footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: gainsboro;
    border-top: black 1px solid;
}

#imgGit{
    height: 50px;
    width: auto;
}


@media only screen and (max-width:700px){

#divGeneral{
    flex-direction: column;
}

#divFormulario{
    max-height: 150px;
}

#divOpciones{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.opcion {
  
}

#divFormButton{

}

#divFormButton{
    margin: 5px;
    width: 100%;
    flex: 2;
}

#divPrincipal{
    flex: 1;
}

.lbTitulo {
    font-size: 30px;
}

.lbOpcion {
    font-size: 20px;
}

input[type=checkbox] {
    height: auto;
}

#imgHome{
    height: 40px;
    width: auto;
}

#imgGit{
    width: auto;
    height: 40px;
}

}

@media only screen and (max-width:360px){
    .lbTitulo {
        font-size: 25px;
    }
}