* {
    font-family: Arial;
}

body {
    display: flex;
    align-items: center;
    background-image: linear-gradient(#3c6fba, #16ccdd);
    background-attachment: fixed;
    height: 100vh;

    /*Límite de reducción.*/
    min-width: 350px;

}




#divPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 8;
}


.lbTitulo {
    font-size: 50px;

    font-weight: bold;
    color: white;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.lbOpcion {
    font-size: 30px;
    font-weight: bold;
}

#divPuntuacion, #divImg, #divFormulario, #divRespuesta {
    margin: 10px;
}

#divImg{
    display: flex;
    justify-content: center;
}

img {
    height: auto;
    width: 70%;
    border-radius: 20px;

    box-shadow: 0 0 0 2pt black;
}

input {
    width: 250px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}

input[type=checkbox] {
    height: 20px;
    width: 20px;
}



#divFormulario {
    order: -1;
    flex: 1;
    border-radius: 20px;
    box-shadow: 0 0 0 2pt black;
    background-color: white;
    height: 80%;
    max-width: 140px;
    min-height: 750px;
    padding: 5px;


    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: space-between; 
}

.opcion {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    flex: 1;

}

#divFormButton{
    padding: 5px;
    width: 100%;
    flex: 2;
}

#btFormulario{
height: 100%;
width: 100%;
}

#divRespuesta{
    height: 40px;
    width: 90%;
    display: flex;
    justify-content: center;
}

#txRespuesta{
    height: auto;
    width: 50%;
}


@media only screen and (max-width:700px){


body{
    flex-direction: column;
}

#divFormulario{
    flex-direction: row;
    max-width: 90%;
    min-height: 30%;

    flex-wrap: wrap; /*Con ésto el flex es multilínea.*/
    align-items: center;   
}

#divFormButton{
    margin: 5px;
    width: 100%;
    flex: 2;
}

#divPrincipal{
    flex: 1;
}

.lbTitulo {
    font-size: 30px;
}

.lbOpcion {
    font-size: 20px;
}

input[type=checkbox] {
    height: auto;
}



}

